<div class="topic-container" ng-controller="topicController">  
	<div class="tab-navigation">	
		<div ng-show="content.page === page" class="navigation">
			<div class="top-nav">
				<div class="nav">
					<span ng-repeat="listItem in goToList | limitTo:2">
						<a href="#" ng-click="clickLink($event, listItem.link)">{{listItem.title}}</a>
					</span>
				</div>
			</div>
			<div class="bot-nav">
				<div class="nav">
				  <span ng-repeat="listItem in goToList" ng-if="$index >= 2">
				  	<a href="#" ng-click="clickLink($event, listItem.link)">{{listItem.title}}</a>
				  </span>
				</div>
			</div>
			<div class="logo-nav">
			</div>
		</div>
		<h3 ng-show="content.page !== page"> {{content.header}} </h3>
	</div><!-- end of nav part -->	
	<div class="tab-content">
		<div ng-if="content.json.boxPane" class="box-pane">
			<div class="box">
				<h1>radnom text</h1>
			</div>
			<div class="box">
				<h1>One more time</h1>
			</div>
		</div>
		<div ng-if="content.json.leftPane" class="left-pane">
			<span left-box data-box="{{leftLinks.first}}" ng-click="switchBoxes($event)"></span>
			<span left-box data-box="{{leftLinks.second}}" ng-click="switchBoxes($event)"></span>
			<span left-box data-box="{{leftLinks.third}}" ng-click="switchBoxes($event)"></span>
		</div>
		<div ng-if="content.json.midPane" class="mid-pane">
			<span mid-box data-box="{{midLinks}}"></span>
		</div>
		<div ng-if="content.json.rightPane" class="right-pane">
			<span right-box data-box="{{rightLinks.first}}" ng-click="switchBoxes($event)"></span>
			<span right-box data-box="{{rightLinks.second}}" ng-click="switchBoxes($event)"></span>
			<span right-box data-box="{{rightLinks.third}}" ng-click="switchBoxes($event)"></span>
		</div>
		<div ng-if="content.json.botPane" class="bot-pane">
			<div class="link-wrapper">
			<span bottom-link data-link="{{botLinks.first}}" ng-click="switchBoxes($event)"></span>
			<span bottom-link data-link="{{botLinks.second}}" ng-click="switchBoxes($event)"></span>
			<span bottom-link data-link="{{botLinks.third}}" ng-click="switchBoxes($event)"></span>
			<span bottom-link data-link="{{botLinks.fourth}}" ng-click="switchBoxes($event)"></span>
			<span bottom-link data-link="{{botLinks.fifth}}" ng-click="switchBoxes($event)"></span>
			<span bottom-link data-link="{{botLinks.sixth}}" ng-click="switchBoxes($event)"></span>
			</div>
		</div>
		<div ng-if="content.json.footer" class="tab-footer row">
		  <div class="col-lg-5 placeholder">{{content.json.footer}}</div>
		  <div class="col-lg-2">a</div>
		  <div class="col-lg-5 placeholder">{{content.json.leftPane}}</div>
		  <div class="center-round">
		  	<div class="center-rect">
		  	</div>
		  </div>
		</div>
	</div>
	
</div>