/* floatingLT animation */
@keyframes floatingLT {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
@-webkit-keyframes floatingLT {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
/* floatingRT animation */
@keyframes floatingRT {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(-10px, 10px);
    transform: translate(-10px, 10px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
@-webkit-keyframes floatingRT {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(-10px, 10px);
    transform: translate(-10px, 10px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
/* floatingRB animation */
@keyframes floatingRB {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
@-webkit-keyframes floatingRB {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
/* floatingLB animation */
@keyframes floatingLB {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(10px, -10px);
    transform: translate(10px, -10px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
@-webkit-keyframes floatingLB {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(10px, -10px);
    transform: translate(10px, -10px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
/* animated background */
@keyframes animatedBackground {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  30% {
    -webkit-transform: translate(50px, 10px);
    transform: translate(50px, 10px); }
  70% {
    -webkit-transform: translate(-10px, -5px);
    transform: translate(-10px, -5px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
@-webkit-keyframes animatedBackground {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  30% {
    -webkit-transform: translate(50px, 10px);
    transform: translate(50px, 10px); }
  70% {
    -webkit-transform: translate(-10px, -5px);
    transform: translate(-10px, -5px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
/* style for main layout of page */
html {
  height: 100%; }

body {
  height: 100%; }

#background-picture {
  position: fixed;
  background: #ffffff url("../img/background1.jpg") no-repeat 0 0;
  background-size: cover;
  width: 100%;
  min-width: 1260px;
  height: 100%;
  min-height: 980px;
  margin: 0;
  animation-name: animatedBackground;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

#arch-wrapper {
  position: absolute;
  background-color: #000000;
  width: 100%;
  min-width: 1260px;
  height: 100%;
  min-height: 980px;
  margin: 0;
  padding: 3% 0; }
  #arch-wrapper .main-wrapper {
    position: relative;
    height: 100%;
    margin: 0; }
    #arch-wrapper .main-wrapper .front-tab {
      position: absolute;
      top: 10%;
      left: 10%;
      width: 80%;
      height: 80%;
      background-color: #055088;
      opacity: 0.9;
      z-index: 10; }
      #arch-wrapper .main-wrapper .front-tab .topic-container {
        height: 100%;
        width: 100%; }
      #arch-wrapper .main-wrapper .front-tab .tab-navigation {
        height: 15%; }
        #arch-wrapper .main-wrapper .front-tab .tab-navigation .navigation {
          height: 100%;
          position: relative; }
          #arch-wrapper .main-wrapper .front-tab .tab-navigation .navigation .top-nav {
            width: 100%;
            height: 50%;
            box-sizing: border-box; }
            #arch-wrapper .main-wrapper .front-tab .tab-navigation .navigation .top-nav .nav {
              height: 100%;
              width: 86%;
              margin: auto;
              padding-top: 15px; }
              #arch-wrapper .main-wrapper .front-tab .tab-navigation .navigation .top-nav .nav span {
                height: 100%;
                background-color: #bc1111;
                padding: 10px 25px;
                border-radius: 45% 45% 0 0; }
                #arch-wrapper .main-wrapper .front-tab .tab-navigation .navigation .top-nav .nav span:hover {
                  background-color: #d80000;
                  background: -moz-linear-gradient(bottom, #bc1111 0%, #d80000 75%);
                  background: -webkit-linear-gradient(bottom, #bc1111 0%, #d80000 75%);
                  background: linear-gradient(to top, #bc1111 0%, #d80000 75%); }
                  #arch-wrapper .main-wrapper .front-tab .tab-navigation .navigation .top-nav .nav span:hover a {
                    color: #ffee00; }
                #arch-wrapper .main-wrapper .front-tab .tab-navigation .navigation .top-nav .nav span a {
                  text-decoration: none;
                  color: #eabb00;
                  font-size: 18px;
                  font-weight: 600; }
              #arch-wrapper .main-wrapper .front-tab .tab-navigation .navigation .top-nav .nav span:first-child {
                margin-left: 15%;
                float: left;
                -webkit-transform: translateX(-50%); }
              #arch-wrapper .main-wrapper .front-tab .tab-navigation .navigation .top-nav .nav span:last-child {
                margin-right: 15%;
                float: right;
                -webkit-transform: translateX(50%); }
          #arch-wrapper .main-wrapper .front-tab .tab-navigation .navigation .bot-nav {
            width: 100%;
            height: 50%;
            box-sizing: border-box; }
            #arch-wrapper .main-wrapper .front-tab .tab-navigation .navigation .bot-nav .nav {
              height: 100%;
              width: 86%;
              margin: auto;
              border-top: 2px solid #bc1111;
              padding-bottom: 15px; }
              #arch-wrapper .main-wrapper .front-tab .tab-navigation .navigation .bot-nav .nav span {
                height: 100%;
                background-color: #bc1111;
                padding: 5px 25px;
                border-radius: 0 0 45% 45%; }
                #arch-wrapper .main-wrapper .front-tab .tab-navigation .navigation .bot-nav .nav span:hover {
                  background-color: #d80000;
                  background: -moz-linear-gradient(top, #bc1111 0%, #d80000 75%);
                  background: -webkit-linear-gradient(top, #bc1111 0%, #d80000 75%);
                  background: linear-gradient(to bottom, #bc1111 0%, #d80000 75%); }
                  #arch-wrapper .main-wrapper .front-tab .tab-navigation .navigation .bot-nav .nav span:hover a {
                    color: #ffee00; }
                #arch-wrapper .main-wrapper .front-tab .tab-navigation .navigation .bot-nav .nav span a {
                  text-decoration: none;
                  color: #eabb00;
                  font-size: 18px;
                  font-weight: 600; }
              #arch-wrapper .main-wrapper .front-tab .tab-navigation .navigation .bot-nav .nav span:last-child {
                margin-left: 15%;
                float: left;
                -webkit-transform: translateX(-50%); }
              #arch-wrapper .main-wrapper .front-tab .tab-navigation .navigation .bot-nav .nav span:first-child {
                margin-right: 15%;
                float: right;
                -webkit-transform: translateX(50%); }
          #arch-wrapper .main-wrapper .front-tab .tab-navigation .navigation .logo-nav {
            position: absolute;
            left: 50%;
            top: 10px;
            transform: translateX(-40px);
            margin: auto;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #bc1111; }
      #arch-wrapper .main-wrapper .front-tab .tab-content .box {
        max-width: 18%; }
      #arch-wrapper .main-wrapper .front-tab .tab-footer {
        position: relative;
        margin: 0;
        height: 20%;
        width: 100%;
        background-color: #055088; }
        #arch-wrapper .main-wrapper .front-tab .tab-footer .placeholder {
          height: 100%;
          border: 2px inset transparent;
          z-index: 1;
          background-color: brown; }
        #arch-wrapper .main-wrapper .front-tab .tab-footer .center-round {
          width: 25%;
          height: 65%;
          position: absolute;
          left: 37.5%;
          bottom: 0;
          border: 2px inset transparent;
          border-radius: 160px 160px 0 0;
          border-bottom: none;
          background-color: #055088;
          z-index: 2; }
          #arch-wrapper .main-wrapper .front-tab .tab-footer .center-round .center-rect {
            position: absolute;
            bottom: 0;
            left: 16.3%;
            height: 130%;
            width: 67.4%;
            background-color: #055088; }
    #arch-wrapper .main-wrapper .back-tab {
      position: absolute;
      width: 40%;
      height: 40%;
      background-color: #906610;
      opacity: 0.5;
      z-index: 9; }
      #arch-wrapper .main-wrapper .back-tab:hover {
        cursor: pointer;
        cursor: hand; }
      #arch-wrapper .main-wrapper .back-tab .topic-container {
        position: absolute;
        height: 100%;
        width: 100%; }
      #arch-wrapper .main-wrapper .back-tab .tab-navigation {
        width: 100%;
        min-height: 46px;
        background-color: #bc1111;
        position: absolute; }
        #arch-wrapper .main-wrapper .back-tab .tab-navigation:hover {
          opacity: 1; }
        #arch-wrapper .main-wrapper .back-tab .tab-navigation h3 {
          text-align: center;
          font-weight: 600;
          color: #eabb00;
          margin: 0;
          padding-top: 10px;
          padding-bottom: 10px; }
      #arch-wrapper .main-wrapper .back-tab .tab-content {
        position: absolute;
        height: 100%; }
        #arch-wrapper .main-wrapper .back-tab .tab-content .box {
          max-width: 18%;
          -ms-transform: scale(0.5, 0.5);
          -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5); }
        #arch-wrapper .main-wrapper .back-tab .tab-content > div {
          height: 100%; }
      #arch-wrapper .main-wrapper .back-tab .bottom-link {
        display: none; }
    #arch-wrapper .main-wrapper .top-left-tab {
      top: 0;
      left: 0;
      animation-name: floatingLT;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out; }
      #arch-wrapper .main-wrapper .top-left-tab .tab-content {
        bottom: 0;
        padding-top: 50px; }
    #arch-wrapper .main-wrapper .top-right-tab {
      top: 0;
      left: 60%;
      animation-name: floatingRT;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out; }
      #arch-wrapper .main-wrapper .top-right-tab .tab-content {
        bottom: 0;
        padding-top: 50px; }
    #arch-wrapper .main-wrapper .bot-right-tab {
      top: 60%;
      left: 60%;
      animation-name: floatingRB;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out; }
      #arch-wrapper .main-wrapper .bot-right-tab .tab-navigation {
        bottom: 0; }
      #arch-wrapper .main-wrapper .bot-right-tab .tab-content {
        top: 0;
        padding-bottom: 50px; }
    #arch-wrapper .main-wrapper .bot-left-tab {
      top: 60%;
      left: 0;
      animation-name: floatingLB;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out; }
      #arch-wrapper .main-wrapper .bot-left-tab .tab-navigation {
        bottom: 0; }
      #arch-wrapper .main-wrapper .bot-left-tab .tab-content {
        top: 0;
        padding-bottom: 50px; }

/* style for content inside topic */
.topic-container .tab-content {
  width: 100%;
  height: 85%;
  color: #bc1111; }
  .topic-container .tab-content .box-pane {
    width: 100%;
    height: 80%;
    background-color: #055088; }
  .topic-container .tab-content .left-pane {
    float: left;
    width: 20%;
    height: 85%; }
    .topic-container .tab-content .left-pane .left-box {
      height: 30%;
      width: 90%;
      margin-left: 10%; }
      .topic-container .tab-content .left-pane .left-box .box-content {
        height: 100%;
        width: 100%;
        background-size: cover;
        border-radius: 5%	5% 5% 5%; }
    .topic-container .tab-content .left-pane span:first-of-type .left-box, .topic-container .tab-content .left-pane span:nth-of-type(2) .left-box {
      margin-bottom: 7%; }
    .topic-container .tab-content .left-pane span:first-of-type .box-content {
      border-radius: 15% 0 5% 5%; }
    .topic-container .tab-content .left-pane span:last-of-type .box-content {
      border-radius: 5% 5% 0 15%; }
  .topic-container .tab-content .mid-pane {
    float: left;
    width: 60%;
    height: 85%;
    -webkit-box-shadow: inset 0 20px 20px -20px #222;
    -moz-box-shadow: inset 0 20px 20px -20px #222;
    box-shadow: inset 0 20px 20px -20px #222; }
  .topic-container .tab-content .right-pane {
    float: left;
    width: 20%;
    height: 85%; }
    .topic-container .tab-content .right-pane .right-box {
      height: 30%;
      width: 90%;
      margin-right: 10%; }
      .topic-container .tab-content .right-pane .right-box .box-content {
        height: 100%;
        width: 100%;
        background-size: cover;
        border-radius: 5%	5% 5% 5%; }
    .topic-container .tab-content .right-pane span:first-of-type .right-box, .topic-container .tab-content .right-pane span:nth-of-type(2) .right-box {
      margin-bottom: 7%; }
    .topic-container .tab-content .right-pane span:first-of-type .box-content {
      border-radius: 0 15% 5% 5%; }
    .topic-container .tab-content .right-pane span:last-of-type .box-content {
      border-radius: 5% 5% 15% 0; }
  .topic-container .tab-content .bot-pane {
    width: 100%;
    height: 15%;
    clear: both;
    text-align: center; }
    .topic-container .tab-content .bot-pane .link-wrapper {
      overflow: hidden;
      height: 100%; }
      .topic-container .tab-content .bot-pane .link-wrapper .bottom-link {
        height: 100%;
        width: 15%;
        padding: 0 5px 10px 5px;
        display: inline-block; }
        .topic-container .tab-content .bot-pane .link-wrapper .bottom-link .link-content {
          height: 100%;
          width: 100%;
          border-radius: 15% 15% 15% 15%; }
          .topic-container .tab-content .bot-pane .link-wrapper .bottom-link .link-content:hover {
            cursor: pointer;
            cursor: hand;
            -webkit-animation-name: pulse;
            animation-name: pulse;
            animation-duration: 1s;
            animation-iteration-count: 1; }
  .topic-container .tab-content .left-pane .box-content:hover, .topic-container .tab-content .right-pane .box-content:hover {
    cursor: pointer;
    cursor: hand; }

/*# sourceMappingURL=main.css.map */
